.about-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 60px 8px;
    height: 648px;
    width: 100%;
    background-color: var(--primary);
    background-image: url("../images/background/bg-snow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    width: 100%;
    max-width: 1276px;
    height: 100%;
    background: var(--static-white);
}

.article-container{
    display: flex;
    padding: 0px 60px;
    width: 50%;
    height: 100%;
    flex-shrink: 0;
}

.article-container>div{
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 20px;
    padding: 60px 0px;
    width: 100%;
    height: fit-content;
    max-width: 426px;
}

.article-container>div>p:first-child{
    text-align: left;
    color: var(--primary);
}

.article-container>div h2{
    text-align: left;
    color: var(--dark);
}

.article-container>div p:last-child{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--dark);
}

.about-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 528px;
    border-radius: 20px;
    overflow: hidden;
    background: center / cover no-repeat url("../images/content/santa.png");
}

.about-container picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 528px;
    border-radius: 20px;
    overflow: hidden;
}