.up{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    right: 8px;
    bottom: 8px;
    background-color: var(--static-white);
    stroke: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 100px;
}