.hero-section{
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    padding: 60px 8px;
    /* height: 524px; */
    width: 100%;
    background-color: var(--primary);
    background-image:
        url("../images/background/bg-snow.png"),
        url("../images/background/bg-ball.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container{
    display: flex;
    row-gap: 12px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px;
    max-width: 426px;
}

.hero-container p{
    color: var(--static-white);
}