@media (hover: hover) {
    /* index-page */
    .primary-button:hover{
        color: var(--dark);
        background: var(--static-white);
    }
    /* gift-page */
    .tab:not(.active):hover{
        background: var(--static-white-20);
        cursor: pointer;
    }

    /* header */
    .nav-menu a:hover{
        background: var(--primary-10);
        color: var(--primary); 
    }
    /* gift-section */
    .best-gifts-card:hover{
        cursor: pointer;
    }
    .best-gifts-card:hover h3{
        color: var(--primary);
    }
    .gift-card:hover{
        cursor: pointer;
    }
    .gift-card:hover h3{
        color: var(--primary);
    }
    /* slider section */
    .slider-button-active:hover{
        background-color: var(--static-white);
        cursor: pointer;
    }
    .slider-button-active:hover svg path{
        stroke: var(--primary);
    }
    /* footer */
    .footer-contact-card:hover{
        cursor: pointer;
    }
    .footer-contact-card:hover :is(p, h3){
        color: var(--primary);
    }
    .footer-socials>li:hover{
        cursor: pointer;
    }
    .footer-socials>li:hover path{
        stroke: red;
    }
    .made-in-rsschool:hover{
        cursor: pointer;
        color: var(--primary);
    }
}
/* nav menu */
@media screen and ( min-width: 769px ){
    .nav-menu{
        display: flex;
    }
    .burger-menu{
        display: none;
    }
}

/* 1300 - to up */
@media screen and ( min-width: 1300px ){
    .gift-cards{
        grid-template-columns: repeat( 4, 1fr);
    }
    .footer-contacts{
        column-gap: 12px;
        row-gap: unset;
        flex-wrap: nowrap;
    }
}

/* 970 - 1299 */
@media screen and ( max-width: 1299px ){
    .gift-cards{
        grid-template-columns: repeat( 3, 1fr);
    }

    .gift-card:nth-child(3n-2){
        justify-self: right;
    }

    .gift-card:nth-child(3n-1){
        justify-self: center;
    }
    
    .gift-card:nth-child(3n){
        justify-self: left;
    }

    .row-center:last-child{
        grid-column: 1 / 4;
        justify-self: center;
    }

    .footer-contacts{
        column-gap: unset;
        row-gap: 12px;
        flex-wrap: wrap;
    }
}

/* 656 - 970 */
@media screen and ( max-width: 970px){
    .gift-cards{
        grid-template-columns: repeat( 2, 1fr);
    }

    .gift-card:nth-child(3n-2){
        justify-self: unset;
    }

    .gift-card:nth-child(3n-1){
        justify-self: unset;
    }
    
    .gift-card:nth-child(3n){
        justify-self: unset;
    }

    .row-center:last-child{
        grid-column: unset;
        justify-self: unset;
    }

    .gift-card:nth-child(odd){
        justify-self: right;
    }
    
    .gift-card:nth-child(even){
        justify-self: left;
    }

    .footer-contacts{
        column-gap: unset;
        row-gap: 12px;
        flex-wrap: wrap;
    }
}

/* 380 - 655 */
@media screen and ( max-width: 655px){
    h1{
        white-space: unset;
    }

    .about-container{
        flex-direction: column;
    }
    .article-container{
        padding: 0px 20px;
        width: 100%;
        height: auto;
    }
    .about-image-container{
        width: 100%;
    }
    .gift-cards{
        grid-template-columns: 1fr;
    }
    .gift-card:nth-child(n){
        justify-self: center;
    }
    /* gift-page */
    .tabs{
        column-gap: 0;
    }
    .tab{
        padding: 12px 8px;
    }
}

/* up to - 379 */
@media screen and ( max-width: 379px){
    .bg-garland{
        width: 380px;
    }
}