*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
	--primary: #ff4646;
	--dark: #181c29;
	--static-white: #fff;
	--content-background: #ecf3f8;
	--tag-purple: #4361ff;
	--tag-pink: #ff43f7;
	--tag-green: #06a44f;
	--primary-10: rgba(255, 70, 70, 0.1);
	--static-white-20: rgba(255, 255, 255, 0.2);
	--static-white-40: rgba(255, 255, 255, 0.4);
	--overlay: rgba(24, 28, 41, 0.8);
    /* fonts */
    --font-family: "Montserrat", sans-serif;
    --second-family: "Allura", sans-serif;
    /* --third-family: "SF Pro", sans-serif; */
}

html{
    display: flex;
    justify-content: center;
    min-width: 1440px;
    scroll-behavior: smooth;
}

body{
    width: 1440px;
}

/* header */
.header{
    display: flex;
    justify-content: center;
    padding: 8px 0;
    background: var(--static-white);
}

.logo{
    display: flex;
    width: fit-content;
    gap: 8px;
    align-items: center;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 12px;
}

.logo p{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
}

.nav-container{
    display: flex;
    padding: 12px 0px;
    max-width: 1276px;
    width: 100%;
    background: var(--static-white);
}

.nav-menu-container{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.nav-menu{
    width: fit-content;
}

.nav-list{
    display: flex;
    gap: 8px;
    padding: 12px 20px;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
    border-radius: 12px;
    padding: 12px 20px;
}
/* end of header */

.nav-list a:hover{
    background: var(--primary-10);
    color: var(--primary); 
}

/* hero-section */
.hero-section{
    display: flex;
    justify-content: center;
    border-radius: 20px 20px 0 0;
    padding: 60px 8px;
    height: 524px;
    background-color: var(--primary);
    background-image:
        url("../images/bg-snow.png"),
        url("../images/bg-ball.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container{
    display: flex;
    row-gap: 12px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 60px 0px;
    max-width: 426px;
}

.hero-container h1{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.hero-container p{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
}

.hero-container a{
    /* border-width: 0; */
    align-self: center;
    border-radius: 20px;
    padding: 20px 32px;
    width: 235px;
    height: 56px;
    background: var(--dark);
    /* text in button */
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
    /* text-wrap: nowrap; Baseline 2024 Newly available  "it's too early to use" */
}
/* end of hero-section */

/* about-section */
.about-section{
    display: flex;
    justify-content: center;
    padding: 60px 8px;
    height: 648px;
    background-color: var(--primary);
    background-image: url("../images/bg-snow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-container{
    display: flex;
    border-radius: 20px;

    max-width: 1276px;
    background: var(--static-white);
}

.article-container{
    display: flex;
    padding: 0px 60px;
    width: 100%;
    height: 100%;
}

.article-container article{
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 20px;
    padding: 60px 0px;
    width: 100%;
    height: fit-content;
    max-width: 426px;
}

.article-container article>p:first-child{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: var(--primary);
}

.article-container article h2{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--dark);
}

.article-container article p:last-child{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--dark);
}

.about-container picture img{
    border-radius: 20px;
    overflow: hidden;
}