@media screen and (max-width: 1440px) {
  body {
    font-size: 2.5vh;
  }

  .kbd-btn {
    width: 7vh;
    height: 7vh;
  }
}
@media screen and (max-width: 768px) {
  body {
    font-size: 2vw;
  }

  .kbd-btn {
    width: 9vw;
    height: 9vw;
  }
}