.show{
  display: flex !important;
}

.virtual-press{
  color: red;
  box-shadow: 5px 5px 10px red;
  background-color: lightblue;
}

html{
  display: flex;
  height: 100svh;
  justify-content: center;
  background-color: gray;
}

body{
  width: 100%;
  border: 2px solid blue;
  border-radius: 10px;
  padding: 10px;
  background-color: green;
  font-size: 1.5rem;
}

.h1{
  text-align: center;
}

.level-select{
  margin: auto;
  display: flex;
  width: fit-content;
  gap: 20px;
  border-radius: 10px;
}

.level{
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.legend{
  text-transform: capitalize;
  text-align: center;
}

.radio{
  margin-left: 5px;
}

.round{
  display: none;
}

.nav{
  display: flex;
  height: 155px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-button{
  height: 35px;
  margin: 10px;
  display: flex;
  gap: 10px;
}

.info{
  height: 100px;
}

.button{
  display: none;
  background-color: lime;
  border-radius: 10px;
}

.pressed-keys{
  display: none;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  box-shadow: inset 5px 5px 10px grey, inset -5px -5px 10px lime;
  justify-content: center;
}

.keyboards{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.kbd{
  display: none;  
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.kbd-btn{
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lime;
  font-size: 2em;
  font-weight: 600;
  text-shadow: 3px 3px 5px gray;
}