@media (hover: hover) {

  .cell:hover {
    border-color: lime;
  }

  .button-x:hover,
  .score-x:hover{
    text-shadow: 0px 0px 10px grey;
    cursor: pointer;
  }

  .btn-sound:hover{
    filter: drop-shadow(0px 0px 10px lime);
    cursor: pointer;
  }

  .btn-score:hover {
    filter: drop-shadow(0px 0px 10px lime);
    cursor: pointer;
  }
}