* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cell-container{
  display: grid;
  border: solid 2px black;
  width: max-content;
}

.row-cell{
  display: flex;
  justify-content: flex-end;
  border: solid 1px black;
  padding: 5px;
  background-color: aquamarine;
}

.col-cell {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 5px;
  background-color: aquamarine;
  align-items: center;
  justify-content: flex-end;
}

.cell {
  border: solid 1px black;
  padding: 5px;
  background-color: bisque;
}

.black{
  background-color: black;
}

.white {
  background-color: white;
}

.cell.crossed {
  background-image: url("../assets/x.svg");
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
}