:root {
  --transition-duration: .25s;
  --color-lime: #0f0;
  --color-primary-50: #e6f4f4;
  --color-primary-100: #cce8e8;
  --color-primary-200: #99d1d1;
  --color-primary-300: #66baba;
  --color-primary-400: #33a3a3;
  --color-primary-500: #008c8c;
  --color-primary-600: #007070;
  --color-primary-700: #005454;
  --color-primary-800: #003838;
  --color-primary-900: #001c1c;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
  font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-primary-50);
  background-color: var(--color-primary-500);
  margin: 0px;
  transition: opacity ease-in 0.2s;
}