.main {
  display: grid;
  grid-template:
    "heading heading" min-content
    "option-list option-list" min-content
    "add-option-button add-option-button" min-content
    "paste-list-button paste-list-button" min-content
    "clear-list-button clear-list-button" min-content
    "save-list-button load-list-button" min-content
    "start-button start-button" min-content / 1fr 1fr;
  gap: 1rem;

  width: 100%;
  max-width: 48rem;
  margin-inline: auto;
  padding: 1rem;
}

.h1 {
  unicode-bidi: isolate;
  display: block;
  grid-area: heading;

  margin-block: 0.67em;
  margin-inline: 0;

  font-size: 2em;
  font-weight: bold;
  color: var(--color-primary-50);
  text-align: center;
  text-shadow: 0 0 .25rem var(--color-primary-50);
}

:is(h1, h2, h3, h4, h5, h6, p, ul, ol) {
  margin-block: 0;
}

.ul {
  unicode-bidi: isolate;
  display: flex;
  display: block;
  grid-area: option-list;
  flex-direction: column;
  gap: 0.5rem;

  margin-block: 1em;
  margin-inline: 0;
  padding-left: 0;
  padding-inline-start: 40px;

  list-style-type: disc;
}

.li {
  display: flex;
  gap: 1rem;
  align-items: center;

  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;

  background-image: linear-gradient(var(--color-primary-300), var(--color-primary-700));
}

.label {
  cursor: pointer;

  flex-shrink: 0;

  width: 3rem;
  padding: 0.5rem;
  border-radius: 0.2rem;

  text-align: center;

  background-image: linear-gradient(var(--color-primary-300), var(--color-primary-700));
  box-shadow: 0 0 .25rem .1rem var(--color-primary-200);
}

.input_title {
  flex-grow: 1;
  width: 100%;
  min-width: 5rem;
}

.input_weight {
  max-width: 5rem;
}

:is(.input_title, .input_weight) {
  padding: 0.5rem;
  border-color: initial;
  border-style: none;
  border-width: initial;
  border-image: initial;

  line-height: normal;
  color: var(--color-primary-50);

  background-color: var(--color-primary-800);
  outline: none;
  box-shadow: 0 0 .25rem .1rem var(--color-primary-200);

  transition-duration: var(--transition-duration);
  transition-property: box-shadow;
}

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem;
  border-color: initial;
  border-style: none;
  border-width: initial;
  border-radius: 0.25rem;
  border-image: initial;

  color: var(--color-primary-50);

  background-image: linear-gradient(var(--color-primary-300), var(--color-primary-700));
  box-shadow: 0 0 .25rem .1rem var(--color-primary-200);

  transition-duration: var(--transition-duration);
  transition-property: filter, box-shadow, opacity;
}

.add-option-button{
  grid-area: add-option-button;
}

.paste-list-button {
  grid-area: paste-list-button;
}

.clear-list-button {
  grid-area: clear-list-button;
}

.save-list-button {
  grid-area: save-list-button;
}

.load-list-button {
  grid-area: load-list-button;
}

.start-button {
  grid-area: start-button;
}